@font-face {
    font-family: 'PERSONA'; /*a name to be used later*/
    src: url(/fonts/Drunk\ &\ Proud.otf); /*URL to font*/
}
@font-face {
    font-family: 'FAKTOS'; /*a name to be used later*/
    src: url(/fonts/Faktos.otf); /*URL to font*/
}
body
{
    margin: 0;
    background-color: #425ba9;
}
header
{
    position: fixed;
    right: 0;
    top: 0;
    width: 35vw;
    height: 100vh;
}
#myVideo
{
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 30vw;
    height: 30vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.corner-triangle
{
    width: 35vw;
    height: 35vw;
    position: fixed;
    z-index: 0;
    right: 0;
    top: 0;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
h1
{
    position: fixed;
    z-index: 1;
    right: 0;
    padding: 0;
    transform: rotate(45deg);
    margin-top: 7.5%;
    margin-right: 3.75%;

    font-size: 5vw;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: 'PERSONA';
    color:white;
}
header > img
{
    width: 30vw;
    position: fixed;
    top: 15vw;
}
@media (min-aspect-ratio: 16/10)
{
    .navigation
    {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0;
        height: auto;
        width: 35vw;
        bottom: 0;
    }
    .item
    {
        text-align: center;
        font-style: normal;
        text-decoration: none;
        font-family: 'PERSONA';
        color:white;
        font-size: 25px;
 
        padding: 2% 5%;
        width: 10vw;
        height: 100%;
        border: 0.75vh solid rgba(255, 255, 255, 0);
        border-radius: 50%;
    }
    .item:active
    {
        animation-name: growBorder;
        animation-duration: 0.5s;
    }
    .item:hover
    {
        font-size: 30px;
    }
}
@media (max-aspect-ratio: 16/10)
{
    .navigation
    {
        margin-left: -5vw;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        height: calc(80vh - 35vw);
        width: 35vw;
        bottom: 0;
    }
    .item
    {
        text-align: center;
        font-style: normal;
        text-decoration: none;
        font-family: 'PERSONA';
        color:white;
        font-size: 25px;
 
        padding: 2% 5%;
        width: 10vw;
        height: 100%;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    }
    .item:hover
    {
        font-size: 30px;
    }
}
@keyframes growBorder 
{
    0% 
    {
      padding: 0%;
      margin: 0%;
      border: 0.75vh solid white;
    }
    100% 
    {
      padding: 10%;
      margin: -10%;
      border: 0.75vh solid white;
    }
}

main
{
    margin: 2.5vw 0 0 2.5vw;
    width: 62.5vw;
    color:white;
}
h2
{
    font-family: 'PERSONA';
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
h2 > a
{
    font-style: normal;
    text-decoration: none;
    text-decoration: underline;
    color: white;
}
h2 > a:hover
{
    font-size: 32.5px;
}
article > p
{
    font-family: 'Faktos';
    font-size: 15px;
    margin-top: 0;
}
h3
{
    font-family: 'Faktos';
    font-size: 17.5px;
    margin-top: 0;
    font-weight: normal;
    text-align: center;
}
